{%- extends config.BASE_TEMPLATE %}

{% macro errors(field) %}
  {% if field.errors %}
  <span class="help-block">
    <ul class=errors>
    {% for error in field.errors %}
    <li><span style="color: red;">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </span>
{% endmacro %}

{% block page_body %}
<link rel="shortcut icon" href="{{ url_for('static', filename='FlexiJsonEditor-master/jsoneditor.css') }}"/>
<script src="{{ url_for('static', filename='FlexiJsonEditor-master/json2.js') }}"></script>
  <script src="{{ url_for('static', filename='FlexiJsonEditor-master/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='FlexiJsonEditor-master/jquery.jsoneditor.js') }}"></script>
  <script src="{{ url_for('static', filename='FlexiJsonEditor-master/jsoneditor.js') }}"></script>

<br/>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ _('Adding Source') }}</h2>
      </div>
      <div class="col-md-offset-3 col-md-6 well">
        <form action="{{ url_for('iroko_curator.add_source') }}" method="POST">            
            <div class="form-group {{ 'has-error' if form.name.errors }}">
                <label for="name">{{ form.name.label }}</label>
                {{ form.name(class_="form-control")|safe }}
                {{ errors(form.name) }}
            </div>
            <div class="form-group {{ 'has-error' if form.source_type.errors }}">
                <label for="source_type">{{ form.source_type.label }}</label>
                {{ form.source_type(class_="form-control")|safe }}
                {{ errors(form.source_type) }}
            </div>
            <div class="form-group {{ 'has-error' if form.repo_harvest_type.errors }}">
                <label for="repo_harvest_type">{{ form.repo_harvest_type.label }}</label>
                {{ form.repo_harvest_type(class_="form-control")|safe }}
                {{ errors(form.repo_harvest_type) }}
            </div>
            <div class="form-group {{ 'has-error' if form.repo_harvest_endpoint.errors }}">
                <label for="repo_harvest_endpoint">{{ form.repo_harvest_endpoint.label }}</label>
                {{ form.repo_harvest_endpoint(class_="form-control")|safe }}
                {{ errors(form.repo_harvest_endpoint) }}
            </div>
            
            <script>
              var myjson = { any: { json: { value: 1 } } };
              var opt = { 
                  change: function(data) { /* called on every change */ },
                  propertyclick: function(path) { /* called when a property is clicked with the JS path to that property */ }
              };
              /* opt.propertyElement = '<textarea>'; */ // element of the property field, <input> is default
              /* opt.valueElement = '<textarea>'; */  // element of the value field, <input> is default
              $('#mydiv').jsonEditor(myjson, opt);
            </script>
            <div id="editor" class="json-editor"></div>

            <!-- <div class="form-group {{ 'has-error' if form.terms.errors }}">
                <label for="terms">{{ form.terms.label }}</label>
                {{ form.terms()|safe }}
                {{ errors(form.terms) }}
            </div> -->
              
            {{ form.csrf_token }}
            {{ errors(form.csrf_token) }}
            <button type="submit" class="btn btn-default">{{ _('Add Source') }}</button>
        </form>
      </div>
    </div>
  </div>

  
  
  
  

  {% endblock page_body %}

