{%- extends config.BASE_TEMPLATE %}
{%- block page_header %}


{%- include "iroko_theme/header.html" %}

{%- endblock page_header %}

{%- block page_body %}

  <div class="container py-5 my-5 z-depth-1">
      <section class="p-md-3 mx-md-5">
        <h2 class="text-center mx-auto font-weight-bold mb-5 pb-2">{{ _('Nuestro Equipo') }}</h2>
        <div class="row">

          <!-- marc -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Marc_GOOVAERTS .jpg') }}"
                 aria-label="Marc Goovaerts "
                 title="Marc Goovaerts "
                 style="object-fit: cover;"/>
                 
            <h4>Marc Goovaerts </h4>
            <p class="font-weight-normal">{{ _('Lider del Projecto Elinf y Projecto Joint') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- rafael -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
            src="{{ url_for('static', filename='images/team/Rafael-Martinez-Estevez.jpg') }}"
                 aria-label="Rafael Martínez Estévez"
                 title="Rafael Martínez Estévez"
                 style="object-fit: cover;"/>
                 
            <h4>Rafael Martínez Estévez</h4>
            <p class="font-weight-normal">{{ _('Lider del Proyecto Tocororo y miembro del Departamente de Sistemas y Tecnologías de la Información perteneciente al CRAI de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- yohanis -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Yohannis-Marti.jpg') }}"
                 aria-label="Yohannis Martí Lahera"
                 title="Yohannis Martí Lahera"
                 style="object-fit: cover;"/>
                 
            <h4>Yohannis Martí Lahera</h4>
            <p class="font-weight-normal">{{ _('Directora de la Biblioteca Universidad de la Habana') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Carmen -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                title="María del Carmen Martínez Díaz"
                src="{{ url_for('static', filename='images/team/Maria-del-Carmen-Hernandez.png') }}"
                aria-label="María del Carmen Martínez Díaz"
                style="object-fit: cover;"/>

            <h4>María del Carmen Martínez Díaz</h4>
            <p class="font-weight-normal">{{ _('Directora del Centro de Recursos para el Aprendizaje y la Investigación de la Universidad de Pinar del Río (CRAI)') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Mabel -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
            src="{{ url_for('static', filename='images/team/Mabel-Rodriguz Poo.jpg') }}"
                 aria-label="Mabel Rodríguez Poo"
                 title="Mabel Rodríguez Poo"
                 style="object-fit: cover;"/>
                 
            <h4>Mabel Rodríguez Poo</h4>
            <p class="font-weight-normal">{{ _('Jefa del Departamente de Sistemas y Tecnologías de la Información perteneciente al CRAI de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Edel -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Edel-Abreu-Hernandez.jpeg') }}"
                 aria-label="Edel Abreu Hernández"
                 title="Edel Abreu Hernández"
                 style="object-fit: cover;"/>
                 
            <h4>Edel Abreu Hernández</h4>
            <p class="font-weight-normal">{{ _('Miembro del Proyecto Tocororo y miembro del Departamento de Sistemas y Tecnologías de la Información') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Eduardo -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Eduardo-Arencibia-Cabeza.jpg') }}"
                 aria-label="Eduardo Arencibia Cabeza"
                 title="Eduardo Arencibia Cabeza"
                 style="object-fit: cover;"/>
                 
            <h4>Eduardo Arencibia Cabeza</h4>
            <p class="font-weight-normal">{{ _('Miembro del Proyecto Tocororo y miembro del Departamento de Sistemas y Tecnologías de la Información') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Luis E. -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
            src="{{ url_for('static', filename='images/team/Luis-Enrique-Cabezas-Curbelo.jpeg') }}"
                 aria-label="Luis Enrique Cabezas Curbelo"
                 title="Luis Enrique Cabezas Curbelo"
                 style="object-fit: cover;"/>
                 
            <h4>Luis Enrique Cabezas Curbelo</h4>
            <p class="font-weight-normal">{{ _('Miembro del Proyecto Tocororo y miembro del Departamento de Sistemas y Tecnologías de la Información') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Reinier -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Reinier-Lorenzo-Cabezas.jpg') }}"
                 aria-label="Reinier Lorenzo Cabezas"
                 title="Reinier Lorenzo Cabezas"
                 style="object-fit: cover;"/>
                 
            <h4>Reinier Lorenzo Cabezas</h4>
            <p class="font-weight-normal">{{ _('Miembro del Proyecto Tocororo y miembro del Departamento de Sistemas y Tecnologías de la Información') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Diego -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Diego-Miguel-Ferreiro-Garcia2.jpg') }}"
                 aria-label="Diego Miguel Ferreiro Garcia"
                 title="Diego Miguel Ferreiro Garcia"
                 style="object-fit: cover;"/>
                 
            <h4>Diego Miguel Ferreiro Garcia</h4>
            <p class="font-weight-normal">{{ _('Miembro del Proyecto Tocororo y miembro del Departamento de Sistemas y Tecnologías de la Información') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Alejandro -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Alejandro-Cabrera-Mendez.jpeg') }}"
                 aria-label="Alejandro Cabrera Mendez"
                 title="Alejandro Cabrera Mendez"
                 style="object-fit: cover;"/>
                 
            <h4>Alejandro Cabrera Mendez</h4>
            <p class="font-weight-normal">{{ _('Estudiante de la carrera Ingeniería en Informática de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

        </div>

        <hr>

        <div class="row">

          <!-- Raf Guns -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Raf-Guns.jpg') }}"
                 aria-label="Raf Guns"
                 title="Raf Guns"
                 style="object-fit: cover;"/>
                 
            <h4>Raf Guns</h4>
            <p class="font-weight-normal">{{ _('Estudiante de la carrera Ingeniería en Informática de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Alina -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Alina_Ruiz_Jhones.jpg') }}"
                 aria-label="Alina Ruiz Jhones"
                 title="Alina Ruiz Jhones"
                 style="object-fit: cover;"/>
                 
            <h4>Alina Ruiz Jhones</h4>
            <p class="font-weight-normal">{{ _('Estudiante de la carrera Ingeniería en Informática de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Eduardo Fuentes -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Eduardo-Fuentes-Navarro.jpg') }}"
                 aria-label="Eduardo Fuentes Navarro"
                 title="Eduardo Fuentes Navarro"
                 style="object-fit: cover;"/>
                 
            <h4>Eduardo Fuentes Navarro</h4>
            <p class="font-weight-normal">{{ _('Estudiante de la carrera Ingeniería en Informática de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Josmel -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Josmel-Pacheco-Mendoza.jpg') }}"
                 aria-label="Josmel Pacheco Mendoza"
                 title="Josmel Pacheco Mendoza"
                 style="object-fit: cover;"/>
                 
            <h4>Josmel Pacheco Mendoza</h4>
            <p class="font-weight-normal">{{ _('Estudiante de la carrera Ingeniería en Informática de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Pedro -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Pedro Andres Urra Gonzalez.jpg') }}"
                 aria-label="Pedro Andres Urra Gonzalez"
                 title="Pedro Andres Urra Gonzalez"
                 style="object-fit: cover;"/>
                 
            <h4>Pedro Andres Urra Gonzalez</h4>
            <p class="font-weight-normal">{{ _('Estudiante de la carrera Ingeniería en Informática de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>

          <!-- Tim -->
          <div class="col-md-3 col-sm-6 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
                 src="{{ url_for('static', filename='images/team/Tim-Engels.jpg') }}"
                 aria-label="Tim Engels"
                 title="Tim Engels"
                 style="object-fit: cover;"/>
                 
            <h4>Tim Engels</h4>
            <p class="font-weight-normal">{{ _('Estudiante de la carrera Ingeniería en Informática de la Universidad de Pinar del Río') }}</p>
            <p class="text-muted mb-lg-0">
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
            </p>
          </div>
          
        </div>
      </section>
  </div>
  <section class="container z-depth-1 mb-5">
    <div class="p-md-3 mx-md-5">
      <h2 class="text-center my-4 font-weight-bold pb-2">{{ _('Instituciones Involucradas') }}</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-center ">
      <div class="row mt-3 ml-2">
            <div class="col my-1">
                <!-- <a href="/"> -->
                <img class="navbar-brand" src="{{ url_for('static', filename='images/participants/upr.png')}}"
                    alt="{{_(config.THEME_SITENAME)}}" width="100">
                <!-- </a> -->
            </div>
        </div>
        <div class="row mt-3 ml-2">
            <div class="col my-1">
                <!-- <a href="/"> -->
                <img class="navbar-brand"
                    src="{{ url_for('static', filename='images/participants/antwerpent.png')}}"
                    alt="{{_(config.THEME_SITENAME)}}" width="100">
                <!-- </a> -->
            </div>
        </div>
        <div class="row mt-3 ml-2">
            <div class="col my-1">
                <!-- <a href="/"> -->
                <img class="navbar-brand" src="{{ url_for('static', filename='images/participants/hasselt.png')}}"
                    alt="{{_(config.THEME_SITENAME)}}" width="100">
                <!-- </a> -->
            </div>
        </div>
        <div class="row mt-3 ml-2">
            <div class="col my-1">
                <!-- <a href="/"> -->
                <img class="navbar-brand" src="{{ url_for('static', filename='images/participants/lamolina.jpg')}}"
                    alt="{{_(config.THEME_SITENAME)}}" width="100">
                <!-- </a> -->
            </div>
        </div>
        <div class="row mt-3 ml-2">
            <div class="col my-1">
                <!-- <a href="/"> -->
                <img class="navbar-brand" src="{{ url_for('static', filename='images/participants/mes.png.png')}}"
                    alt="{{_(config.THEME_SITENAME)}}" width="100">
                <!-- </a> -->
            </div>
        </div>
        <div class="row mt-3 ml-2">
            <div class="col my-1">
                <!-- <a href="/"> -->
                <img class="navbar-brand" src="{{ url_for('static', filename='images/participants/uh.png')}}"
                    alt="{{_(config.THEME_SITENAME)}}" width="100">
                <!-- </a> -->
            </div>
        </div>
        <div class="row mt-3 ml-2">
            <div class="col my-1">
                <!-- <a href="/"> -->
                <img class="navbar-brand" src="{{ url_for('static', filename='images/participants/usil.png')}}"
                    alt="{{_(config.THEME_SITENAME)}}" width="100">
                <!-- </a> -->
            </div>
        </div>

    </div>
  </section>

{%- endblock page_body %}

