
<footer id="footer" style="background-color: rgb(153, 153, 172)">
  <div class="container">
      <div class="d-flex bd-highlight">
          <div class="p-2 w-100 bd-highlight">
            {% trans link="http://inveniosoftware.org" %} Powered by&nbsp;<a href="{{link}}">Invenio</a>{% endtrans %}
          </div>
          <div class="p-2 flex-shrink-1 bd-highlight">
            {%- if config.I18N_LANGUAGES %}
              {% from "iroko_theme/invenio_i18n/macros/language_selector.html" import language_selector_dropdown %}
              {{ language_selector_dropdown() }}
            {%- endif %}
          </div>
      </div>    
    
  </div>
</footer>
<footer class="bd-footer text-muted">
  <hr>
  <div class="d-flex flex-column align-items-center container p-3 p-md-5">
    {{ _('This site is an effort between The University of Pinar del Rio and University of Havana') }}
  </div>
</footer>