{%- extends config.BASE_TEMPLATE %}

{% macro errors(field) %}
{% if field.errors %}
<span class="help-block">
    <ul class=errors>
    {% for error in field.errors %}
    <li><span style="color: red;">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </span>
{% endmacro %}

{% block page_body %}
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ _('Editing FAQ') }}</h2>
    </div>
    <div class="col-md-offset-3 col-md-6 well">
      <form role="form">
        <div class="form-group {{ 'has-error' if form.question.errors }}">
          <label for="question">{{ form.question.label }}</label>
          {{ form.question(class_="form-control")|safe }}
          {{ errors(form.question) }}
        </div>
        <div class="form-group {{ 'has-error' if form.answer.errors }}">
          <label for="answer">{{ form.answer.label }}</label>
          {{ form.answer(class_="form-control")|safe }}
          {{ errors(form.answer) }}
        </div>

        {{ form.csrf_token }}
        {{ errors(form.csrf_token) }}
        <button type="button" class="btn btn-default">{{ _('Prev') }}</button>
        <button type="button" class="btn btn-default">{{ _('Next') }}</button>
        <button type="button" class="btn btn-default">{{ _('Save Changes') }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock page_body %}
